@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
.App {
  text-align: left;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    color: white;
}

.App-link {
  color: #61dafb;
}

.top-adj {
	margin-top: 5%;
}

/* UTILITY CSS */
.p0 {padding:none}
.pl0 {padding-left:none}
.pr0 {padding-right:none}
.pt0 {padding-top:none}
.pb0 {padding-bottom:none}
.p1 {padding:10px}
.pl1 {padding-left:10px}
.pr1 {padding-right:10px}
.pt1 {padding-top:10px}
.pb1 {padding-bottom:10px}

.m0 {margin:none}
.ml0 {margin-left:none}
.mr0 {margin-right:none}
.mt0 {margin-top:none}
.mb0 {margin-bottom:none}
.m1 {margin:10px}
.ml1 {margin-left:10px}
.mr1 {margin-right:10px}
.mt1 {margin-top:10px}
.mb1 {margin-bottom:10px}

.uppercase {text-transform: uppercase}
.closer {transform: rotate(-50deg)}


/* New Feature */

.surr-area-hightlights .icon-house {
    position: absolute;
    left: -12px;
    background: yellow;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8em 4em;
    padding: 0.25em;
    cursor: pointer;
}
.red-border {
	border: 1px solid red;
	padding: 2em;
}
